extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/story-navbar.css")

block content
  include story-navbar.pug

  .main__container
    .main__col1.col
      .main__col1-image(style=`background-image: url(${stories[0].imageSrc})`)
    .main__col2.col
    
    .main__col3.col
