extends layout 

block content 
  nav(class="nav__create")
    .nav__container
        .nav__logo 
          a(href='/welcome')
            p LOGO HERE
        .nav__title Veni Vidi Voravi
        .nav__info
          .nav__features
            a(href='#features' style="text-decoration: none;") Features
          .nav__team
            a(href='#team' style="text-decoration: none;") Team
          .nav__technologies 
            a(href='#technologies' style="text-decoration: none;") Technologies
        .nav__links
            a#our__story(href="/welcome/our-story" class="welcome-ourStory") Our Story
            a(href="/users/login" class="welcome-login") Login
            a#demo-btn(href="/users/demouser" class="welcome-demo") Demo Login
            a#register-btn(href='/users/register' class="welcome-register") Register
  