extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/welcome.css")
  link(rel="stylesheet" href="/stylesheets/our-story.css")
  //- add page specific js
  script(src="/javascripts/our-story.js" type="module" defer)

block content
  title Welcome to VVV!

  nav(class="nav__create")
    .nav__container
        .nav__logo 
          a(href='/welcome')
            p LOGO HERE
        .nav__title Veni Vidi Voravi
        .nav__links
            a#our__story(href="/welcome/our-story" class="welcome-ourStory") Our Story
            a(href="/users/login" class="welcome-login") Login
            a#demo-btn(href="/users/demouser" class="welcome-demo") Demo Login
            a#register-btn(href='/users/register' class="welcome-register") Register

  .stories
    .developers
      .body__developer#B
        .developer__name Bianca Salinas
          img(src="/images/b.png" class="image__developer") 
          .developer__links
            a(href="https://github.com/B-Salinas")
              i(class="fab fa-github" aria-hidden="true")
            a(href=" https://www.linkedin.com/in/b-salinas/")
              i(class="fab fa-linkedin-in" aria-hidden="true")
          .developer__story After graduating with a B.S. in Mathematics, I decided to transition into tech and software development by attending App Academy as a full-time software engineering student in the midst of a global pandemic. I enjoy learning through challenges and teaching through collaboration. In my free time, I enjoy going on long walks and reading — I'm currently reading "all about love: new visions" by bell hooks and "In the Realm of Hungry Ghosts" by Gabor Maté.

      .body__developer#D
        .developer__name David Kim
          img(src="/images/d.png" class="image__developer") 
          .developer__links
            a(href="https://github.com/hye-kim")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/hye-kim/")
              i(class="fab fa-linkedin-in" aria-hidden="true")
          .developer__story I graduated from Northwestern University in 2019 with a degree in Economics. After working in the finance industry for a year, I realized that I wanted to pursue something that I was more heartfelt about. As a hobby artist, I like making beautiful design ands channeling my inner creativity, and I felt that I could channel these passions into my work. From sleek single-page apps to interesting games, I enjoy making things that allow others to feel joy and be inspired.
      .body__developer#R
        .developer__name Renerose Dimatulac
          img(src="/images/r.png" class="image__developer") 
          .developer__links
            a(href="https://github.com/rsdimatulac")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/renerosedimatulac/")
              i(class="fab fa-linkedin-in" aria-hidden="true")
          .developer__story I’m an aspiring Software Engineer with a degree in Electronics Engineering and a background in hospitality management and real estate tech operations. My genuine interest in software technology and innovation has led me to pursue education in Software Development. I am many things in this lifetime— a licensed pilot, an engineer, but what I consider myself the most, is a student. I am eager to both build my academic foundations in engineering while also gaining new skills and learning new technologies used in web development. My goal is to use the knowledge I have, and continuously hone my skills to find innovative solutions in solving real world problems. When I’m not coding, I am out in the world. I enjoy hiking, traveling, trying out new food, flying small planes, and discovering new hobbies.
      .body__developer#S
        .developer__name Schuler Small 
          img(src="/images/s.png" class="image__developer") 
          .developer__links
            a(href="https://github.com/ssmall1")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/schuler-small/")
              i(class="fab fa-linkedin-in" aria-hidden="true")
          .developer__story I am a software engineer in development with a background in geography and environmental science, for which I received a B.A. from UCLA. Graduating into a global pandemic catalyzed my interest in software engineering as I realized I wanted more skills to enhance my impact in this dynamic, unpredictable world. I plan to couple my programming abilities with an academic and business background in sustainability to help drive the global sustainability transformation. When I'm not voraciously seeking knowledge in the form of reading, watching films, or coding, I can be found cooking, doing yoga, or playing soccer wherever there's open space and a ball.