extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/story-create.css")

block content
  include story-navbar.pug 
  +validationErrorSummary(errors)
  .form__container
    .form
      form(action='/stories/create' method='post')
        input(type="hidden", name="_csrf" value=csrfToken)
        +field('Title', 'title', story.title, "text", "Your title")
        +field('Title Image', 'titleImage', story.imageSrc, "url", "Your image URL")
        +field('Body', 'content', story.content, "textarea")
        .form__button
          a(href='/') Cancel
          button(type='submit') Publish
