extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-register.css")

block content
  +validationErrorSummary(errors)
  .container
    .header
      .header__title Veni, Vidi, Voravi
      .header__subtitle where good food finds you
    .form
      form(action='/users/register' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('First Name', 'firstName', user.firstName, "text", "Jane")
        +field('Last Name', 'lastName', user.lastName, "text", "Doe")
        +field('Email Address', 'emailAddress', user.emailAddress, "email", "example@mail.com")
        +field('Password', 'password', user.password, 'password', "Your password")
        +field('Confirm Password', 'confirmPassword', '', 'password', "Confirm password")
        .login Already have an account? &nbsp;
            a(href="/users/register") Log In
            button(type="submit") Register
    .footer
      .footer__links
        a(href="https://github.com/rsdimatulac/Veni-Vidi-Voravi")
        i(class="fab fa-github" aria-hidden="true")
