extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/welcome.css")
  //- add page specific js
  script(src="/javascripts/welcome.js" type="module" defer)

block content
  title Welcome to VVV!
  include nav-bar-welcome 
  
  .body__container
    
    .overview
      .body__content 
        .body__title#vvv__title Veni, Vidi, Voravi
        .body__text is a social media platform that allows users to share and discovery experiences from different restaurants. Including their own kitchens!! - keep or not to keep
      .body__image
        .image__container
          img(src="/images/eating-together.jpg" class="image__overview")


    .features#features
     .body__image
       .image__container
         img(src="/images/features.PNG" class="image__features")
     .body__content 
       .body__title Key Features
       .body__text
          ul
            li Read, Create, and Share Stories 
            li Comment and Clap on Stories 
            li Follow your Friends 
            li Discover and experience shared experiences


    .team#team
      .team__title.body__title The Team
      .team__content  
        .body__developer
          .developer__name Bianca Salinas
          img(src="/images/b.png" class="image__developer") 
          .developer__links
            a(href="https://github.com/B-Salinas")
              i(class="fab fa-github" aria-hidden="true")
            a(href=" https://www.linkedin.com/in/b-salinas/")
              i(class="fab fa-linkedin-in" aria-hidden="true")
        .body__developer
          .developer__name David Kim
          img(src="/images/d.png" class="image__developer") 
          .developer__links
            a(href="https://github.com/hye-kim")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/hye-kim/")
              i(class="fab fa-linkedin-in" aria-hidden="true")
        .body__developer
          .developer__name Renerose Dimatulac
          img(src="/images/r.png" class="image__developer") 
          .developer__links
            a(href="https://github.com/rsdimatulac")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/renerosedimatulac/")
              i(class="fab fa-linkedin-in" aria-hidden="true")
        .body__developer
          .developer__name Schuler Small 
          img(src="/images/s.png" class="image__developer") 
          .developer__links
            a(href="https://github.com/ssmall1")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/schuler-small/")
              i(class="fab fa-linkedin-in" aria-hidden="true")
      .team__ourstory
        a(href="/welcome/our-story" class="ourstory-link") Our Story


    .technologies#technologies
      .body__image
        .image__container
          img(src="/images/technologies.PNG" class="image__technologies")
      .body__content
        .body__title Technologies
        .body__text
          ul
            li Express.js 
            li Node.js
            li PostgreSQL 



    .footer
      .footer__links
        a(href="https://github.com/rsdimatulac/Veni-Vidi-Voravi")
          i(class="fab fa-github" aria-hidden="true")
        .copyright 
          i(class="far fa-copyright" aria-hidden="true")  2021



  
