extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/welcome-nav.css")
  //- add page specific js
  script(src="/javascripts/welcome.js" type="module" defer)

block content
  title Welcome to VVV!
  include nav-bar-welcome 
  
  .body__container
    
    .overview
      .body__content 
        .body__title(class="")
          h1 Veni, Vidi, Voravi
        .body__text(class="")
          p is a social media platform that allows users to share and discovery experiences from different restaurants.
      .body__image
        .image__container(class="image_overview")
          img(src="/images/eating-together.jpg")

    .features
     .body__image
       .image__container(class="image_features")
         img(src="/images/features.png")
     .body__content 
       .body__title(class="")
          h1 Key Features
       .body__text(class="")
          ul
            li Read, Create, and Share Stories 
            li Comment and Clap on Stories 
            li Follow your Friends 
            li Discover and experience shared experiences

    .team 
      h1 Team


    .technologies
      .body__image
        .image__container(class="image_technologies")
          img(src="/images/technologies.png")
      .body__content
        .body__title(class="")
          h1 Technologies
        .body__text(class="")
          ul
            li Express.js 
            li Node.js
            li PostgreSQL 

    .footer
      .footer__links
        a(href="https://github.com/rsdimatulac/Veni-Vidi-Voravi")
        i(class="fab fa-github" aria-hidden="true")



  
