/* GLOBAL STYLES */

body {
    box-sizing: border-box;
    background-color: #fff;
}

div {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 10px 0px;
}

.hidden {
    display: none;
}

#profile-pic-story {
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

/* STORIES */

.story__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 31px;
    padding: 75px 38px 70px;
    min-height: calc(100vh - 70px - 65px);
}

.story__title {
    grid-column: 4 / 10;
    font-size: 45px;
    font-weight: bold;
    justify-self: start;
    margin-bottom: 20px;
    height: fit-content;
}

.story__author {
    grid-column: 4 / 10;
    justify-self: start;
    font-size: 14px;
    margin-bottom: 20px;
    height: fit-content;
    display: flex;
    align-items: center;
}

.story__author > a {
    text-decoration: none;
    color: #1A8917;
    padding: 0px 15px;
}

.story__image {
    grid-column: 4 / 10;
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 1%;
}

.story__content {
    grid-column: 4 / 10;
    line-height: 30px;
    white-space: pre-line;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.story__claps-comments {
    grid-column: 4 / 10;
    justify-self: start;
    padding-top: 10px;
}

.story__claps-comments * {
    padding-right: 10px;
}

.story__claps-comments > img {
    height: 20px;
}

/* COMMENT FORM */

.form {
    padding-top: 30px;
    grid-column: 4 / 10;
    justify-self: start;
    width: 100%;
}

form * {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

.form__comment-div {
    display: flex;
    width: 100%;
}

.form__comment-div > input {
    font-weight: 400;
    padding-left: 10px;
    border-radius: 20px;
    width: 100%;
}

.form__button {
    display: flex;
    font-size: 15px;
    color: #929292;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    font-weight: 400;
}

.form__button * {
    font-size: 15px;
    font-weight: 400;
}

.form__button > a {
    text-decoration: none;
    font-size: 22px;
}

.form__button > a:hover {
    text-decoration: underline;
}

.form__button > button {
    border-radius: 22px;
    font-size: 20px;
    background-color: #929292;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 15px;
    font-weight: bold;
}

.form__button > button:hover {
    background-color: #2ece8b;
}

/* COMMENTS CONTAINER */

.comments__container {
    grid-column: 4 / 10;
}

.comments__info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: solid 1px lightgray; */
    border-radius: 20px;
}

.comments__pic {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    padding: 10px;
    justify-self: center;
}

.comments__name {
    grid-area: 1 / 2 / 2 / 8;
    font-weight: bold;
    align-self: center;
    padding-left: 10px;
    padding-top: 10px;
}

.comments__timestamp {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.comments__name > a {
    text-decoration: none;
    color: #1A8917;
    font-weight: bold;
}

.comments__content {
    grid-area: 2 / 2 / 3 / 9;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
}


/* FOOTER */

.footer {
    background-color: #E9EAEB;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 31px;
    align-items: center;
    padding: 0 38px;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}

.footer__links {
    grid-column: 1 / 1;
    justify-self: center;
}

.footer__links i {
    font-size: 40px;
}
