extends layout

append head
  link(rel="stylesheet" href="/stylesheets/error-page.css")

block content
  .nav__container
    div(class="nav__logo")
      a(href="/")
        img(src="/images/logo.png")
    div(class="nav__title") Veni, Vidi, Voravi
  .error__container
    .error__image
      img(src="../images/error.svg")
    .error
      .error__message PAGE #{message.toUpperCase()}
      .error__status #{error.status}
      .error__text Missing ingredients?
      .error__subtext You can find almost anything on <strong><i> Veni, Vidi, Voravi </i></strong> — apparently even a page that doesn’t exist. You might find what you're looking for on the home page.
      .error__link
        a(href="/") Home
