doctype html
html
  head
      block head
        title="Veni Vidi Voravi"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet")
        meta(name="description" content="Veni Vidi Voravi is inspired by Medium and allows users to share and discover experiences from different culinary adventures. Users can browse, create, and edit their own stories, and leave comments or claps on other stories they found enjoyable.")
        meta(name="title" property="og:title" content="Veni Vidi Voravi")
        meta(property="og:type" content="Website")
        meta(name="image" property="og:image" content="https://brenb.s3.amazonaws.com/vvv.png")
        meta(name="description" property="og:description" content="Veni Vidi Voravi is inspired by Medium and allows users to share and discover experiences from different culinary adventures. Users can browse, create, and edit their own stories, and leave comments or claps on other stories they found enjoyable.")
        meta(name="author" content="Bianca Salinas, David Kim, Renerose Dimatulac, Schuler Small")
  body
    block content
