extends layout

append head
  link(rel="stylesheet" href="/stylesheets/welcome-navbar.css")
  link(rel="stylesheet" href="/stylesheets/our-story.css")
  link(rel="stylesheet" href="/stylesheets/footer.css")

block content
  include welcome-navbar
  .developer__container.grid
    .developer__title.title Bianca Salinas
    .developer__text.text After graduating with a B.S. in Mathematics, I decided to transition into tech and software development by attending App Academy as a full-time software engineering student in the midst of a global pandemic. I enjoy learning through challenges and teaching through collaboration. In my free time, I enjoy going on long walks and reading — I'm currently reading "all about love: new visions" by bell hooks and "In the Realm of Hungry Ghosts" by Gabor Maté.
    .developer__image.image
      img(src="/images/bianca.jpg")
  .developer__container.grid.right
    .developer__title.title.right David Kim
    .developer__text.text.right I graduated from Northwestern University in 2019 with a degree in Economics. After working in the finance industry for a year, I realized that I wanted to pursue something that I was more heartfelt about. As a hobby artist, I like making beautiful design and channeling my inner creativity, and I felt that I could channel these passions into my work. From sleek single-page apps to interesting games, I enjoy making things that allow others to feel joy and be inspired.
    .developer__image.image.right
      img(src="/images/david.jpg")
  .developer__container.grid
    .developer__title.title Renerose Dimatulac
    .developer__text.text I’m an aspiring Software Engineer with a degree in Electronics Engineering and a background in hospitality management and real estate tech operations. My genuine interest in software technology and innovation has led me to pursue education in Software Development. I am many things in this lifetime— a licensed pilot, an engineer, but what I consider myself the most, is a student. I am eager to both build my academic foundations in engineering while also gaining new skills and learning new technologies used in web development. My goal is to use the knowledge I have, and continuously hone my skills to find innovative solutions in solving real world problems. When I’m not coding, I am out in the world. I enjoy hiking, traveling, trying out new food, flying small planes, and discovering new hobbies.
    .developer__image.image
      img(src="/images/ren.jpg")
  .developer__container.grid.right
    .developer__title.title.right Schuler Small
    .developer__text.text.right I am a software engineer in development with a background in geography and environmental science, for which I received a B.A. from UCLA. Graduating into a global pandemic catalyzed my interest in software engineering as I realized I wanted more skills to enhance my impact in this dynamic, unpredictable world. I plan to couple my programming abilities with an academic and business background in sustainability to help drive the global sustainability transformation. When I'm not voraciously seeking knowledge in the form of reading, watching films, or coding, I can be found cooking, doing yoga, or playing soccer wherever there's open space and a ball.
    .developer__image.image.right
      img(src="/images/schulz.jpg")

  include footer.pug
