extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/story-create.css")
    //- NOTE THAT WE ARE USING STORY-CREATE.CSS HERE
  link(rel="stylesheet" href="/stylesheets/story-navbar.css")
  link(rel="stylesheet" href="/stylesheets/modal-buttons.css")

block content
  //- include story-navbar.pug
  +validationErrorSummary(errors)
  .form__container
    .form
      form(action=`/stories/${story.id}/edit` method='post')
        input(type="hidden", name="_csrf" value=csrfToken)
        +field('Title', 'title', story.title, "text", "Your title")
        +field('Title Image', 'titleImage', story.imageSrc, "url", "Your image URL")
        +field('Body', 'content', story.content, "textarea")
        .form__button
          //- You go back to the user profile if cancelled
          a(href=`/users/${userId}`) Cancel
          button(type='submit') Publish
