extends layout

append head
  link(rel="stylesheet" href="/stylesheets/welcome.css")
  link(rel="stylesheet" href="/stylesheets/welcome-navbar.css")
  link(rel="stylesheet" href="/stylesheets/footer.css")

block content
  include welcome-navbar
  .hero.grid
    .hero__title.title Veni, Vidi, Voravi
    .hero__text.text is an open platform that allows users to share and discover experiences from different culinary adventures.
    .hero__image.image
      img(src="/images/eating-together.svg")
  .features.grid#features
    .features__title.title Key Features
    .features__text.text
        ul
          li Read, Create, and Share Stories
          li Comment and Clap on Stories
          li Follow your Friends
          li Discover and experience shared experiences
    .features__image.image
        img(src="/images/features.svg")
  .team.grid#team
    .team__title.title The Team
    .team__content
      .body__developer
        .developer__name Bianca Salinas
          div(style="background-image: url(/images/bianca.jpg)" class="image__developer")
        .developer__links
          a(href="https://github.com/B-Salinas")
            i(class="fab fa-github" aria-hidden="true")
          a(href=" https://www.linkedin.com/in/b-salinas/")
            i(class="fab fa-linkedin-in" aria-hidden="true")
      .body__developer
        .developer__name David Kim
          div(style="background-image: url(/images/david.jpg)" class="image__developer")
        .developer__links
          a(href="https://github.com/hye-kim")
            i(class="fab fa-github" aria-hidden="true")
          a(href="https://www.linkedin.com/in/hye-kim/")
            i(class="fab fa-linkedin-in" aria-hidden="true")
      .body__developer
        .developer__name Renerose Dimatulac
          div(style="background-image: url(/images/ren.JPG)" class="image__developer")
        .developer__links
          a(href="https://github.com/rsdimatulac")
            i(class="fab fa-github" aria-hidden="true")
          a(href="https://www.linkedin.com/in/renerosedimatulac/")
            i(class="fab fa-linkedin-in" aria-hidden="true")
      .body__developer
        .developer__name Schuler Small
          div(style="background-image: url(/images/schulz3.jpg)" class="image__developer")
        .developer__links
          a(href="https://github.com/ssmall1")
            i(class="fab fa-github" aria-hidden="true")
          a(href="https://www.linkedin.com/in/schuler-small/")
            i(class="fab fa-linkedin-in" aria-hidden="true")
    .team__ourstory
      a(href="/welcome/our-story" class="ourstory-link")
        button(class="ourstory-button" type="submit") Our Story
  .technologies.grid#technologies
    .technologies__title.title Technologies
    .technologies__text.text
      ul
        li Express.js
        li Node.js
        li PostgreSQL
    .technologies__image.image
      img(src="/images/technologies.svg" class="image__technologies")
  include footer.pug
