.nav__container
    .nav__logo
      a(href='/welcome')
        img(src="/images/logo.png")
    .nav__title Veni Vidi Voravi
      if needsNavInfo
        .nav__info
          .nav__features
            a(href='#features' style="text-decoration: none;") Features
          .nav__team
            a(href='#team' style="text-decoration: none;") Team
          .nav__technologies
            a(href='#technologies' style="text-decoration: none;") Technologies
    .nav__links
        a(href="/our-story") Our Story
        if isLoggedIn
          a(href="/") Home
          form(action="/users/logout" method="post")
            button(class="logout-button" type="submit") Log Out
          a(href=`/users/${user.id}`)
            img(class="profile-pic" src=`${user.profilePic}`)
        else
          a(href="/users/login") Login
          form(action="/users/demouser" method="post")
            button(class="demo-button" type="submit") Demo Login
          a(href='/users/register')
            button(class="register-button" type="submit") Register
