* {
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #fff;
}

a {
    text-decoration: none;
}

p {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.nav__container {
    padding: 0 300px;
}

.col {
    display: grid;
    height: inherit;
}

.author {
    display: flex;
    grid-row: 1 / 2;
    align-items: center;
    align-self: end;
}

.picture {
    padding-right: 10px;
}

.author > a {
    font-size: 14px;
    color: #333;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
    display: flex;
    grid-row: 2 / 3;
    align-items: center;
}

.title > a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    grid-row: 3 / 4;
    font-size: 16px;
    line-height: 30px;
}


/* MAIN COLUMN 1 */

.main__container {
    display: grid;
    padding: 0 38px;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 31px;
    height: 500px;
    margin-top: 40px;
    padding: 0 300px;
}

.main__col1 {
    grid-column: 1 / 5;
    grid-template-rows: repeat(5, 1fr);
}

.main__col1-image {
    grid-row: 1 / 4;
}

.main__col1-info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row: 4 / 6;
}

.main__col1-info > .title > a {
    font-size: 30px;
}

.main__col1-info > .text {
    font-size: 18px;
    line-height: 30px;
}

/* MAIN COLUMN 2 */

.main__col2 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 125px);
    grid-column: 5 / 10;
    padding: 0 100px;
    /* column-gap: 31px; */
    border-right: 1px solid rgba(230, 230, 230, 1);
}

.main__col2-story {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1 / 4;
    /* padding-top: 20px; */
}

.main__col2-story > .title > a {
    font-size:16px;
}

.main__col2-story > .title,
.main__col2-story > .text {
    padding-right: 20px;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__col2-story-image-1 {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
}

.main__col2-story-image-2 {
    grid-row: 2 / 3;
    grid-column: 4 / 6;
}

.main__col2-story-image-3 {
    grid-row: 3 / 4;
    grid-column: 4 / 6;
}

.main__col2-story-image-4 {
    grid-row: 4 / 5;
    grid-column: 4 / 6;
}

/* MAIN COLUMN 3 */

.main__col3 {
    grid-column: 10 / 13;
    padding-left: 20px;
}

.follows__container {
    display: flex;
    flex-direction: column;
}

.follows__header {
    padding-bottom: 20px;
}

.follows__header > p {
    color: rgba(41, 41, 41, 1);
    font-weight: 700;
    font-size: 12px;
    margin: 0px;
    line-height: 16px;
    letter-spacing: 0.083em;
    text-rendering: optimizeLegibility;
}

.follows__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3%;
}

.following__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.following__profile-image {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.following__profile-name {
    margin-top: 5px;
    padding-bottom: 20px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 64px;
}

/******************** BODY CONTAINER ************************/

.body__container {
    display: grid;
    padding: 0 300px;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 31px;
    min-height: calc(100vh - 70px - 65px);
    margin-top: 45px;
    margin-bottom: 100px;
    padding-top: 45px;
    border-top: solid 1px rgb(230, 230, 230);
}

.body__col1 {
    grid-column: 1 / 8;
    grid-template-rows: repeat(7, 1fr);
    row-gap: 40px;
    grid-template-columns: repeat(8, 1fr);
    display: grid;
}

.body__col1-story {
    display: grid;
    grid-template-rows: repeat(4, 60px);
    grid-column: 1 / 5;
}

.story-image {
    width: 100%;
    height: 100%;
}

.body__col1-story-image-5 {
    grid-column: 6 / 9;
    grid-row: 1 / 2;
    border: 1px solid pink;
}

.body__col1-story-image-6 {
    grid-column: 6 / 9;
    grid-row: 2 / 3;
}

.body__col1-story-image-7 {
    grid-column: 6 / 9;
    grid-row: 3 / 4;
}

.body__col1-story-image-8 {
    grid-column: 6 / 9;
    grid-row: 4 / 5;
}

.body__col1-story-image-9 {
    grid-column: 6 / 9;
    grid-row: 5 / 6;
}

.body__col1-story-image-10 {
    grid-column: 6 / 9;
    grid-row: 6 / 7;
}

.body__col1-story-image-11 {
    grid-column: 6 / 9;
    grid-row: 7 / 8;
}

.body__col2 {
    grid-column: 9 / 13;
    border: 1px solid blue;
    margin-bottom: 10px;
}
