* {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #fff;
}

ul {
    list-style-position: inside;
}

li {
    font-size: 25px;
}

.grid {
    height: 600px;
    display: grid;
    padding: 0 38px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 31px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    align-self: end;
}

.text {
    padding-top: 30px;
    font-size: 18px;
    color: #707070;
    align-self: start;
    line-height: 28px;
}

.image {
    justify-items: end;
}

.image img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

/********************************** DEVELOPER SECTION **********************************/

.developer__container {
    padding-top: 65px;
    background-color: #e9eaeb;
}

.developer__title {
    grid-column: 2 / 7;
    grid-row: 1 / 1;
    font-size: 45px;
}

.developer__text {
    grid-column: 2 / 7;
    grid-row: 2 / 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.developer__image {
    grid-column: 7 / 12;
    grid-row: 1 / 4;
    text-align: right;
    padding-top: 65px;
}

.developer__container.right {
    background-color: #fff;
}

.developer__title.right {
    grid-column: 7 / 12;
    grid-row: 1 / 1;
}

.developer__text.right {
    grid-column: 7 / 12;
    grid-row: 2 / 2;
}

.developer__image.right {
    grid-column: 2 / 7;
    grid-row: 1 / 4;
    text-align: left;
    padding-top: 65px;
}
