.nav__follow-button {
    background-color: rgb(47, 108, 250);
    color: white;
    border-radius: 22px;
    outline: none;
    border: none;
    padding: 8px 10px;
    font-size: 13px;
}

.nav__title {
    grid-column: 2 / 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(41, 41, 41, 1);
}

.username {
    font-size: 25px;
    font-weight: 700;
}

.followers {
    margin-top: 4px;
}

.followers a,
.following a {
    text-decoration: none;
}

.followers a:hover,
.following a:hover {
    text-decoration: underline;
}

.nav__username {
    font-size: 25px;
    font-weight: bold;
}

.nav__username div {
    display: inline;
    padding: 0 10px;
}

.nav__followed {
    background-color: white;
    color: rgb(47, 108, 250);
    border-radius: 22px;
    outline: none;
    border: 1px solid rgb(47, 108, 250);
    padding: 8px 10px;
    font-size: 13px;
}

.nav__container {
    font-family: 'Roboto', sans-serif;
}
