/*********************** GLOBAL *******************/

body {
    box-sizing: border-box;
}

/*********************** PROFILE STYLING *******************/

.profile__container {
    display: grid;
    padding: 50px 38px 10px 38px;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 31px;
    min-height: calc(100vh - 70px - 65px);
}

.profile__user {
    grid-column: 2 / span 2;
}

.profile-pic-main {
    height: 175px;
    width: 175px;
}

.user__name {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.user__about {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: darkgray;
}

.profile__story {
    grid-column: 4 / 10;
    padding: 0px 0px 10px 15px;
}

.story__title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story__title-div>a {
    display: flex;
    align-items: center;
}

.profile__story a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.profile__story>div {
    padding: 30px 0px;
}

.story__timestamp {
    font-size: 14px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* FROM STORY-VIEW */

.story__image {
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
    border-radius: 1%;
    background-position: center;
}
